.header {
  padding: 10px 0 10px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  text-align: center;
  color: black;
}

#newBook {
  padding: 5px;
  margin: 0;
}

.library {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}  

.card {
  height: 250px;
  padding: 15px;
  border: 1px solid purple;
  position: relative;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: navy;
}

.author, .pages, .read {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  color: brown;
}

::backdrop {
  background-color: darkgray;
  opacity: 0.7;
}

form {
  padding: 20px;
}
